<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About Ellie</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Ellie</h1>
    <p>Ellie is the main character of the <i>Last of Us</i> franchise. On the release of <i>Part II</i> she was about 19 years old</p>
    <img src="./images/ellie.jpeg"/>

    <p>Born when the pandemic busrt, she's impulsive, temperamental and sometimes uses violence as a mean to an end<br>On the onter hand, she also has a partiuclar innocence because she has yet to see the darkest sides of human nature and can trust people</p>



    <img src="./images/ellie2.jpeg"/>

    <p>She seems to suffer form monophobia, fear of being alone, and fears losing the ones she cares about</p>

    <a href="/home">Back to Home</a>
  </body>
</html>