<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Fan Page</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome, Ellie's fans</h1>
    <img src="./images/fireflies.jpeg"/>

    <p><i>"After all we've been through...Everything that I've done, it can't be for nothing."</i> - Ellie</p>

    <img src="./images/ellie3.jpeg"/>
    
    <p>When you're lost in the darkness, look for the light. Believe in the fireflies</p>


    <a href="/about">Ellie</a>
    <a href="/achievements">Achievements</a>
    <a href="/photo-gallery">Photo Gallery</a>
  </body>
</html>

