<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Achievements</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Ellie's Achievements</h1>
     <p>Ellie is the only known person who's imune to the virus that made the world stop</p>
    <img src="./images/ellie4.jpeg"/>
<p>With a life of ups and downs, she learned that there was more than hate and vengence and that some sacrificies are bigger than we can imagine</p>
<p>She fought different enemies while learning to endure and survive</p>

    <a href="/home">Back to Home</a>
  </body>
</html>