<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Achievements</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Ellie's Achievements</h1>
     <p>Ellie is the only known person who survived to the virus, due to a strange mutation in her brain that developed following her initial infection, she became immune to the bites and spores of the Infected</p>
    <img src="./images/ellie4.jpeg"/>
<p>With a life of ups and downs, she learned that there was more than hate and vengence and that some sacrificies are bigger than we can imagine</p>
<p>She fought different enemies while learning to endure and survive</p>
<img src="./images/youngellie.jpeg"/> 
<img src="./images/elliefight.jpeg"/>
<p>When she started to need to survive, her skills to survive were bad, she couldn't even swim<br>the only weapon she carries is a switchblade until late in the game when Joel gives her a gun.</p>
<p>On <i>Part II</i> she already know how to swim, shoot and got physically stronger but with some limits</p>
<img src="./images/ellie6.jpeg"/>
    <a href="/home">Back to Home</a>
  </body>
</html>